* {
  margin: 0;
  padding: 0;
}


  body {
    display: flex;
    flex-direction: column;
    background-color: #f3fbfb;
    width: 100%;
    height: 513.6858475894246vh;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navBarWhite {
    background-color: #ffffff !important;
    box-shadow: 0px 5px #00000017;
  }

  .comissionCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 232px;
    left: 0px;
    top: 9.720062208398133vh;

    background: center fixed no-repeat url("https://tinyurl.com/jp56xcg");
  }

  .headTxt1 {
    display: flex;
    justify-content: center;
    width: 51.875rem;
    height: 4rem;

    font-family: "Bauhaus 93";
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    line-height: 1em;
    text-align: center;

    color: #000;
  }

  .headTxt2 {
    display: flex;
    justify-content: center;
    width: 51.875rem;
    height: 5.5625rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    text-align: center;

    color: #ffffff;
  }

  .containerGrilla {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 34rem;
    column-gap: 1.25rem;
    width: 90%;
    margin: 5% 7%;


    position: static;
    left: 119px;
    top: 57.153965785381025vh;
    right: 119px;
    /* bottom: 47.5px; */


    /* Blanco */

    background: #ffffff;
  }

  .card {
    /* Molecule */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 0px 0px 25px;
    gap: 12px;

    width: 100%;
    height: 34rem;

    background: #ffffff;
    border: 1px solid #c0c3c5;
    border-radius: 15px;
  }

  .cardImg {
    width: 100%;
    height: 16.6875rem;
/*     border-radius: 0px; */
    object-fit: fill;
    border-radius: 20px 20px 0px 0px;
  }

  .cardTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 255px;
  /*   padding: 0px 120px;
    gap: 20px; */

    /* Blanco */
    background: #ffffff;
  }

  .comissTittle {
    /* Textos Grandes */
    font-family: "Bauhaus 93";
    font-style: normal;
    font-weight: 400;
    font-size: 2.25em;
    line-height: 1em;
    text-align: center;

    /* Azul - Textos */
    color: #272343;
  }

  .comissContentTextGallery {
    /* Texto - H1 - Navbar */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.25em;
    text-align: center;

    color: #000000;
  }

  .comissContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 267px;
    height: 72px;
    /* Texto - H1 - Navbar */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;

    color: #000000;
  }

  .comissContent li {
    list-style: none;
  }

  .comissPrice {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 2.25em;
    text-align: center;

    /* Azul - Textos */

    color: #272343;
  }

  .btnQuote {
    /* Atom / BUTTONS */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 205px;
    height: 49px;

    text-align: center;

    /* Azul - Textos */
    background: #272343;
  

    /* Azul - Textos */
    border: 3px solid #272343;
    border-radius: 50px;
  }
  .btnQuoteTxt{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.25em;
    color: #ffffff;
  }

  .btnQuote:hover {
    background-color: #151325;
  }

  .noteComission {
    /* Auto layout */
    display: grid;
    grid-template-columns: repeat(3, 30%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 120px; */
    gap: 20px;

    position: static;
    width: 85%;
    margin: 5% 7%;
    /* height: 42.5rem; */
    top: 149.14463452566096vh;
    left: 119px;
   
    /* Celeste Light - Sections */
    background: #f3fbfb;
  }

  .noteComission div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 362px; */
    height: 35.9375rem;
  }

  .vector {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 7.481875rem;
    height: 7.20875rem;
    transform: matrix(0.82, -0.59, 0.57, 0.81, 0, 0);
  }

  .comissContenText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.525em;
    list-style: initial;
    color: #000000;
    /* width: 362px; */
    height: 292px;
  }

  .comissTittleDraw {
    width: 263px;
    height: 66px;
  }

  .comissTittleWork {
    width: 263px;
    height: 66px;
  }

  .comissTittlePayment {
    width: 383px;
    height: 66px;
  }

/*-----------------------------------------------------------------------------------------------------*/

  .comissGallery {
    position: static;
    width: 90%;
    /* height: 1221px; */
    /* left: 0px; */
    top: 254.89891135303267vh;
    left: 119px;
    display: flex;
    flex-direction: column;
  }

  .comissGalleryCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     width: 727px;
    height: 128px; */
    margin: auto;
  }

  .comissGalleryGrilla {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 16.6875rem);
    gap: 1.25rem;
    row-gap: 2.3125rem;

    justify-items: center;
    align-items: center;
 
    width: 90%; 
    margin: 5% 7%;
  }

  .cardComission {
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 267px;
    background: #45c1f0;
    border-radius: 10px;
  }

  .cardComissionImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

/*----------------------------------------------------------------------------------------------------------------------------*/
  
.footerComissions{
  width: 100%;
}

.footerComissionsBar{
    width: 100%;
}

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #000000bd;
    width: 100%;
  }

  .modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
  }

  .modal__container {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 6px;
    padding: 3em;
    background-color: #ffffff;
  }
