* {
    margin: 0;
    padding: 0;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }


#loading img{
    margin-left: 42vw;
    margin-top: 30vh;
    width: 14%;
    height: 30%;
}

body {
    background-color: #F3FBFB;
}

a{
    text-decoration: none;
    color: black;
}

/*-------Header-----------------------------------*/


header {
    display: flex;
    flex-direction: row;
    background-color: #45C1F0;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.header__logo{
    margin-left: 20%;
    display: flex;
    align-items: center;

}

.header__logo--img{
    width: 4vw;
}

.header__logo--text{
    margin-left: 1rem;   
    width: 10rem;
    font-family: 'poppins';
    font-size: 2.5vh;
    text-justify: center;
    color: #272343;
    line-height: 1.4rem;
}

nav{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'poppins';
    font-size: 2vh;    
}

nav a{
    margin-left: 2rem;
    width: 7rem;

}

.social{
    margin-right: 10%;
    /*width: 2rem;*/
    display: flex;
    justify-content: space-around;
}

.social img{
    width: 2rem;
    margin-right: 1rem;
}

/*------------------Main---------------------------*/

.main{
   
    background-image: url("img/Home\ fondo\ chispas.png");
   
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container__text{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7%;
}

.container__text--center{
    transform: translatex(-75%);
    background-color: #45C1F0;
    color: #272343;
    opacity: 0.95;
    line-height: 4rem;
}

.container__text--center h2{

    margin-bottom: 2rem;
    font-family: 'Bauhaus 93';
    text-align: center;
    font-size:  4rem;
}

.container__text--center h3{
    margin-bottom: 10%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size:  1.2rem;
    line-height: 1.4rem;
}

.container__text--center button {
    border: 1px solid #272343;
    border-radius: 30px;
    font-family:'Nunito', sans-serif;
    background-color: transparent;
}

.container__text--center button  p{
    padding: 1rem;
    width: 14rem;
    font-size: 1rem;
    text-align: center;
}

.container__img{
    display: flex;
    align-items: flex-end;
}

.main--img{
    width: 50vw;   
}

/*------------------About me---------------------------*/

.about{
    height: 90vh;  
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.about__content{
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__content--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.about__content--text h2{
    font-family: 'Bauhaus 93';
    margin-bottom: 2rem;
}

.about__content--text p {
    font-family: 'Nunito', sans-serif;
}

.about__content--carr{
    background-color: #FF8BD2;
   
}

.swiper {
    width: 40vw;
    height: 40vh;
  }




  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.containerSkills{
    margin: 1rem;
    width: 25%;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.container--pink{
    background-color: #FF8BD2;
}

.container--yellow{
    background-color: #FFDD80;
}

.container--blue{
    background-color: #45C1F0;
}


.containerSkills h3{
    font-family: 'Bauhaus 93';
}
.containerSkills p{
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
}

.containerSkills img{
    width: 50%;
}

/*------------------My work---------------------------*/

.work{
    height: 90vh;  
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    background-color: #F3FBFB;
}

.work__header{
    height: 25vh;
    display: flex;
    flex-direction: column;
    background-color:  #F3FBFB;
    justify-content: center;
    align-items: center;
}

.work__header h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Bauhaus 93';
}

.work__header p{
    font-family: 'Nunito', sans-serif;
  
    font-size: 1.2rem;
}

.work__header button{
    font-family: 'Nunito', sans-serif;
    width: 10rem;
    font-size: 1.2rem;
    border: 1px solid #272343;
    background-color: transparent;
    border-radius: 50px;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem;
}

.work__projects{
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
   
}

.project--item{
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 10vw;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 400;
}

.project--item input{
    border-radius: 10px;
    width: 18vw;
    height: 18vw;
}

/*------------------Comissions---------------------------*/

.comissions{
    height: 90vh;  
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.com__parallax{
    position: absolute; 
    overflow: hidden;
    width: 100%;

    z-index: -1;
  
}

.com__parallax img{
    margin-top: 39%;
    width: 100%;
}

.com__open{
    
    color: #F3FBFB;
    height: 40vh;
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.com__open h2{
    
    text-align: center;
    font-size: 2rem;
    font-family: 'Bauhaus 93';
}

.com__open p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.com__open button{
    font-family: 'Nunito', sans-serif;
    width: 15rem;
    font-size: 1.2rem;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: .5rem;
}

.com__open button a{
    color: white;
}

.com__form {
    background-color: #FFDD80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.com__form--contact{
    margin-top: -4%;
}

.com__form--contact h2{
    font-size: 2rem;
    font-family: 'Bauhaus 93';
}

.com__form--contact p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.com__form--contact h3{
    margin-top: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
}

.com__form--contact--mail{
    margin-top: 1rem;
    display: flex;
}

.com__form--contact--mail img{
    margin-top: .8rem;
    margin-right: 1rem;
    width: 10%;
    height: 10%;
}

.img__footer{
    width: 90%;
    height: 60%;
}

/*.form__img{
 

}*/


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
   
    width: 30vw;
    height: 40vh;
}

form h3 {
    font-size: 1.3rem;
    font-family: 'poppins';
}

.form__items{
    margin-left: 10%;
}

.form--send{
    margin-left: 50%;
    box-sizing: border-box;
    background: #272343;
    border-radius: 15px 0px;
    color: white;
    width: 20%;
}

input::placeholder {
    font-size: 1.2em;
    font-family: "poppins";
  }

  input{
      margin-top: 2%;
      width: 70%;
      height: 4vh;  
      border: 1px solid ;
    border-radius: 3px;
    background-color: #F3FBFB;
  }

  .input--mes{
    margin-top: 2%;
    width: 70%;
    height: 10vh;  
}



/*------------------Footer---------------------------*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #272343;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

footer h3 {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    margin-left: 4%;
}

.social__footer{
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.social__footer img{
    width: 2rem;
    margin-right: 1rem;
}

/*------------ Modal (background)---------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y:hidden;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 12% auto; /* 15% from the top and centered */
    
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close img{
      margin-top: 1rem;
      width: 50%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /*------------ Modal Styles---------- */

  .project--item__modal{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

    .mySwiperModal{
        width: 100%;
        height: 100%;
    }

   #img__Carr{
       height: 100%;
       width: 100%;
   } 

   .swiper-slide video {
    width: 30vw;
   }

  .project--item__modal--text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    margin-left: 2rem;
  }
  
  .project--item__modal--text h3{
    margin-top: 1rem;  
    font-family: 'Nunito';
    font-weight: 1000;
  }
  .project--item__modal--text p{
    font-family: 'Nunito';
    font-weight: 200;
  }

.project--item__modal--textDesc{
    margin-top: 1rem; 
    font-family: 'Nunito';
    font-weight: 500;    
}

.project--item__modal--text button {
    font-family: 'Nunito', sans-serif;
    width: 10rem;
    font-size: 1rem;
    border: 1.5px solid #272343;
    background-color: transparent;
    border-radius: 50px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

  
  .tools--img img{
    width: 3vw;
    height: 5vh;
  }

  .swiper-button-next {
    background-image: url("img/button_right.png") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }


  .swiper-button-prev {
    background-image: url("img/button_left.png") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }


  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }