* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3FBFB;
}

.icono{
    /* image 3 2 */
    position: absolute;
    width: 114.67px;
    height: 126.92px;
    left: 150px;
    top: 23.08px;
    
    background: url(/img/Icono.png);
    background-size: contain;
}

/* Celeste */
.celeste {
position: absolute;
width: 241.28px;
height: 81px;
left: 286px;
top: 46.04px;

font-family: 'Bauhaus 93';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 93px;
text-align: center;

color: #272343;
}

.btnAbout{
    /* Frame 14 */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;

position: absolute;
width: 217px;
height: 71px;
left: 1144px;
top: 56.04px;

border: 3px solid #FF8BD2;
border-radius: 15px 0px;
}
.txtAbout{
    /* About me */
width: 169px;
height: 51px;
border: none;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
background: #BAE8E8;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.btnWork{
    /* Frame 15 */
    /* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;

position: absolute;
width: 136px;
/* height: 71px; */
left: 1408.8px;
top: 56.04px;

border-radius: 0px;
}
.txtWork{
width: 88px;
height: 51px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
border: none;
background: #BAE8E8;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.btnContact{
/* Frame 16 */
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;

position: absolute;
width: 187px;
/* height: 71px; */
left: 1592.61px;
top: 56.04px;
}

.txtContact{
/* Contact */
width: 139px;
height: 51px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
border: none;
background: #BAE8E8;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}


/* Ellipse 3 */
.ellipse3 {
    position: absolute;
    width: 1263.67px;
    height: 771.09px;
    left: 776.97px;
    top: -199.48px;
    z-index: -1;
    
    background: #BAE8E8;
}

/* Ellipse 4 */
.ellipse4 {
position: absolute;
width: 635.18px;
height: 737.09px;
left: -398.65px;
right: 1527px;
top: 422.72px;
/* bottom: 3124.6px; */
z-index: -1;

background: linear-gradient(153.26deg, #BAE8E8 43.93%, #FF8BD2 138.03%);
transform: rotate(-135.28deg);
}

.homeInstagram{
/* bxl:instagram-alt */
position: absolute;
width: 49px;
height: 50px;
left: 78.81px;
right: 1816.69px;
top: 760.7px;
bottom: 3648.79px;
}

.homeBehance{
    /* Vector */
position: absolute;
left: 74.04px;
right: 1795.96px;
top: 828.42px;
bottom: 3562.33px;
}

.homeTweeter{
/* Vector */
position: absolute;
width: 49px;
height: 50px;
left: 74.64px;
right: 1798.06;
top: 899.72px;
bottom: 3483.82px;

}

/* Hello */
.hello{
position: absolute;
width: 719px;
height: 314.39px;
left: 816.5px;
top: 186.06px;

font-family: 'Bauhaus 93';
font-style: normal;
font-weight: 400;
font-size: 160px;
line-height: 95.04%;
/* or 152px */

display: flex;
align-items: center;
justify-content: center;

color: #272343;
}

/* World!! */
.world{
position: absolute;
width: 719px;
height: 314.39px;
left: 836px;
top: 343.26px;

font-family: 'Bauhaus 93';
font-style: normal;
font-weight: 400;
font-size: 180px;
line-height: 95.04%;
/* or 171px */

display: flex;
align-items: center;
justify-content: center;
color: #272343;
}

/* Rectangle 23 */
.rectangle23{
    position: absolute;
    width: 6px;
    height: 200px;
    left: 1108px;
    top: 659.67px;
    
    background: #FFDD80;
}

/* I´m Celeste Davalos */
.r23p1{
    position: absolute;
    width: 338px;
    height: 51px;
    left: 1134.11px;
    top: 671.67px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    /* identical to box height */    
    color: #272343;
}

.r23p2{
/* A Graphic Designer, UI/UX Designer */
position: absolute;
width: 603px;
height: 51px;
left: 1134.11px;
top: 722.67px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
}

.r23p3{
    /* and an Illustrator. */
position: absolute;
width: 303px;
height: 51px;
left: 1134.11px;
top: 773.67px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
}

/* Rectangle 24 */
.rectangle24{
position: absolute;
width: 709.57px;
height: 705.46px;
left: 215px;
top: 195px;

background: url(/img/selfie2.png);
background-size: contain;
}

.rectangle40{
    /* Rectangle 40 */
position: absolute;
height: 1280px;
left: 0px;
top: 110px;    
}

.rectangle2{
    /* Rectangle 2 */
box-sizing: border-box;

position: absolute;
width: 1405px;
height: 745px;
left: 150px;
top: 1166px;
z-index: -1;

background: #FFDD80;
border-radius: 0px 0px 0px 330.342px;
}

.r2title{
    /* About me */
position: absolute;
width: 169px;
height: 51px;
left: 176px;
right: 1060px;
top: 72.47px;
bottom: 621.53px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */
color: #272343;
}

.r2txt{
position: absolute;
width: 642px;
height: 373px;
left: 1726x;
right: 587px;
top: 171.53px;
bottom: 200.47px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;

color: #272343;
}

.imgCeleste{
    /* Rectangle 22 */
position: absolute;
width: 668px;
height: 820.86px;
left: 1102px;
top: 1141px;

background: url(./img/celeste.png);
border-radius: 288.605px;
}